$Alto: #DFDFDF; 
$ToreaBay: #11289c;
$CatskillWhite: #f9fbfc;
$Porcelain: #eff3f4;
$TwilightBlue: #fdffff;
$Biscay: #212d69;
$CloudBurst: #1f2757;
$Iceberg: #dff1f4; 
$Cerulean: #0ca5ee;
$Black: #000000;
$White: #ffffff;